<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-receipt-devery-heading" data-cy="ReceiptCreateUpdateHeading" jhiTranslate="devhourApp.receipt.home.createOrEditLabel">
        Create or edit a Receipt
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="devhourApp.receipt.number" for="field_number">Number</label>
          <input type="number" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
          <div *ngIf="editForm.get('number')!.invalid && (editForm.get('number')!.dirty || editForm.get('number')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('number')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('number')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="devhourApp.receipt.healthCareDependency" for="field_healthCareDependency"
            >Health Care Dependency</label
          >
          <select
            class="form-control"
            id="field_healthCareDependency"
            data-cy="healthCareDependency"
            name="healthCareDependency"
            formControlName="healthCareDependency"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                healthCareDependencyOption.id === editForm.get('healthCareDependency')!.value?.id
                  ? editForm.get('healthCareDependency')!.value
                  : healthCareDependencyOption
              "
              *ngFor="let healthCareDependencyOption of healthCareDependenciesCollection; trackBy: trackHealthCareDependencyDeveryById"
            >
              {{ healthCareDependencyOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="devhourApp.receipt.diagnosis" for="field_diagnosis">Diagnosis</label>
          <select class="form-control" id="field_diagnosis" data-cy="diagnosis" name="diagnosis" formControlName="diagnosis">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="diagnosisOption.id === editForm.get('diagnosis')!.value?.id ? editForm.get('diagnosis')!.value : diagnosisOption"
              *ngFor="let diagnosisOption of diagnosesCollection; trackBy: trackDiagnosisDeveryById"
            >
              {{ diagnosisOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
