<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="patient">
      <h2 data-cy="patientDetailsHeading"><span jhiTranslate="devhourApp.patient.detail.title">Patient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ patient.id }}</span>
        </dd>
        <dt><span jhiTranslate="devhourApp.patient.curp">Curp</span></dt>
        <dd>
          <span>{{ patient.curp }}</span>
        </dd>
        <dt><span jhiTranslate="devhourApp.patient.firstName">First Name</span></dt>
        <dd>
          <span>{{ patient.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="devhourApp.patient.lastName">Last Name</span></dt>
        <dd>
          <span>{{ patient.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="devhourApp.patient.email">Email</span></dt>
        <dd>
          <span>{{ patient.email }}</span>
        </dd>
        <dt><span jhiTranslate="devhourApp.patient.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ patient.phoneNumber }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/patient-devery', patient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
